<h1>Sign Up</h1>
<form action="/user/Create" method="post">
    <input placeholder="Your Email" type="email" name="email" required>
    <input placeholder="Your Password" type="password" name="password" required>
    <input placeholder="Confirm Your Password" type="password" name="Confirmpassword" required>
    <input placeholder="Your name" type="text" name="name" required>
    <input type="submit" value="Sign Up" >

</form>