<h1>Sign In</h1>
<form action="/user/create-session" method="post">
    <input placeholder="Your Email" type="email" name="email" required>
    <input placeholder="Your Password" type="password" name="password" required>
    
    <input type="submit" value="Sign In" >
    
</form>